body {
    height: 100vh;
}


#paginator {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
  


@media (max-width: 425px) {
    

    .card-horizontal {
        display: flex;
    }
    
    .col-sm-12, .col-xs-12 {
        margin: 0;
        padding: 0;
        padding-left: 0;
        padding-right: 0;
    }
    
    .card-body {
        padding: 0;
        text-align: center;
        margin: 0.5rem;
        width: 50%;
    }
    
    .card-title {
        margin: 0;
    }

    .card {
        margin-bottom: 0.8rem;
    }  

    .container-fluid {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    
    
  }


  @media only screen and (min-width: 426px) and (max-width: 768px)  {

    .card {
        margin-bottom: 0.1rem;
    } 

    .card-horizontal {
        display: flex;
    }

    .col-lg-5, .col-md-5 {
        margin: 0;
        padding: 0;
        padding-left: 0;
        padding-right: 0;
        max-width: 50%;
    }
    
    .card-body {
        padding: 0;
        text-align: center;
        flex-direction: column;
        margin: 0.5rem;
    }
    
    .card-title {
        margin: 0;
    }
    
    .container-fluid {
        display: flex;
        flex-direction: column;
        align-items: space-between;
        justify-content: space-between;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    
    #linha {
        justify-content: space-around;
    }

    #btnRecarregar {
        margin: 0% 50% 0% 50%;
     }
   
}

@media only screen and (min-width: 769px) and (max-width: 2560px)  {

    .card {
        margin-bottom: 0.5rem;
    } 

    .card-horizontal {
        display: flex;
    }

    .col-lg-5, .col-md-5 {
        margin: 0;
        padding: 0;
        padding-left: 0;
        padding-right: 0;
        max-width: 100%;
    }
    
    .card-body {
        padding: 0;
        text-align: center;
        flex-direction: column;
        margin: 0.5rem;
    }
    
    .card-title {
        margin: 0;
    }
    
    .container-fluid {
        display: flex;
        flex-direction: column;
        align-items: space-between;
        justify-content: space-between;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    
    #linha {
        justify-content: space-around;
    }

    #btnRecarregar {
        margin: 50%;
     }


}
